<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="widget.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body class="pending">

    <responsive-child class="election-widget">
      <% for (var g in election.widget) { var group = election.widget[g] %>
      <section class="group">
        <h1><%= g %></h1>
        <div class="races">
          <% group.forEach(function(race) { %>
          <div class="race">
            <h2><%= race.name %></h2>
            <ul class="results">
            <% race.results.forEach(function(result) { %>
              <li> 
                <span class="name"><%= result.candidate %></span> - 
                <%= result.votes %> (<%= result.percent %>%)
            <% }) %>
          </div>
          <% }) %>
        </div>
      </section>
      <% } %>
    </responsive-child>

    <script src="./widget.js"></script>
  </body>
</html>